body {
    font-family: 'Kaisei Decol', serif;
    background-color: #e7dfda;
    margin: 0;
}
header {
    display: fixed;
    background-color: white;
    top: 0;
    left: 0;
    font-family: "Cambay", sans-serif;
    justify-content: space-between;
}
main, footer {
    margin: auto;
}

/* modifiche header */
.header{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 0 0 0 100px;
    max-width: 120px;
    align-items: left;
    margin: auto;
    display: block;
}
.menu {
    padding: 0 20px 0 0;
    max-width: 1200px;
    list-style: none;
}
.menu li {
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    position: relative;
}
.menu a {
    display: block;
    text-decoration: none;
    color: rgb(181, 105, 51);
    transition: .3s;
}
.menu a:hover {
    color: black;
}
.submenu {
    padding: 10px 0 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}
.menu .scrittori:hover .submenu {
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top: 50px;
}
.submenu li {
    width: 150px;
    font-size: 16px;
    border-bottom: 1px solid white;
}
.submenu a {
    background-color: white;
    color: rgb(181, 105, 51);
}
.submenu a:hover {
    color: black;
}
.btn-menu { display: none;}

/* header immagine e testo HOME */
.testo-immagine {
    width: 100%;
    overflow: hidden;
}
.testo-immagine img {
    float: right;
    max-width: 30%;
}
.testo-immagine h1 {
    width: 50%;
    font-size: 100px;
    float: left;
    padding: 90px 0 0 50px;
    line-height: 1.1;
    font-weight: bold;
}
/* header immagine e testo AUTORI */
.testo-immagine-autore {
    width: 100%;
    overflow: hidden;
}
.testo-immagine-autore img {
    float: right;
    max-width: 45%;
    padding: 20px 0 0 0 ;
}
.testo-immagine-autore h1 {
    width: 50%;
    font-size: 100px;
    float: left;
    padding: 60px 0 0 50px;
    line-height: 1.1;
    font-weight: bold;
}

/* header immagine e testo LIBRI */
.titolo-libro {
    width: 100%;
    overflow: hidden;
}
.titolo-libro img {
    float: right;
    width: 40%;
    max-width: 18%;
    padding: 50px 90px 30px 0;
}
.titolo-libro h1 {
    width: 60%;
    font-size: 90px;
    float: left;
    padding: 0 0 0 60px;
    line-height: 1.1;
    font-weight: bold;
}

/* titolo LIBRI */
.titolo-libri {
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.titolo-libri img {
    max-width: 90%;
}
.titolo-libri h1 {
    align-items: center;
    width: 100%;
    font-size: 70px;
}

/* blocco informazioni */
.testocentrale {
    text-align: center;
    background-color: #c3b2a0;
    width: 100%;
    margin-top: 80px;
    padding: 60px 0 60px 0;
}
.testocentrale h2 {
    font-family: "Cambay", sans-serif;
    padding: 15px 0 0px 0;
    font-size: 20;
    font-weight: lighter;
}
.testocentrale p {
    font-family: "Cambay", sans-serif;
    font-size: 18px;
    padding: 0 0 15px o;
    font-weight: lighter;
}
/* linea */
hr {
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
}

/* blocco recensione */
.testocentrale-recensione {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    background-color: #e7dfda;
}
.testocentrale-recensione h2 {
    font-family: "Cambay", sans-serif;
    font-size: 20;
    font-weight: lighter;
}
.testocentrale-recensione p {
    font-family: "Cambay", sans-serif;
    font-size: 18px;
    padding: 0 90px 0 40px;
    font-weight: lighter;
}

/* testo e immagine LIBRI */
.container-trama {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    background-color: #c3b2a0;
    padding: 70px;
}
.container-trama p{
    font-family: "Cambay", sans-serif;
    font-size: 18px;
    margin-top: 40px;
}
.colonna2libro {
    margin-top: 64px;
}
.container-trama h3 {
    color: black;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    line-height: 1.1; 
    padding: 0 0 20px 0 ;    
    margin-top: 0; 
}

/* testo e immagine */
.container-racconto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
    padding: 90px;
}
.container-racconto p{
    font-family: "Cambay", sans-serif;
    font-size: 16px;
    margin-top: 40px;
}

.testomarrone {
    color: rgb(181, 105, 51);
}
  
.sezione-immagine {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  
.sezione-immagine img {
    width: 90%; 
    display: block;
    padding: 0 0 0 20px;
}
.colonna2 {
    margin-top: 108px;
}

h3 {
    color: rgb(181, 105, 51);
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    line-height: 1.1; 
    padding: 0 0 20px 0 ;    
    margin-top: 0; 
}

/* immagine autori */
.sezione-immagine-autori {
    display: flex;
    flex-direction: column;
    align-items: center; 
} 
.sezione-immagine-autori img {
    width: 80%; 
    display: block;
    padding: 0px 0 0 20px;
}

/* immagine libri */
.sezione-immagine-libri {
    display: flex;
    flex-direction: column;
    align-items: center; 
    display: block;
}
.sezione-immagine-libri img {
    width: 75%; 
    display: block;
}

/* card */
.grid-container h4 {
    font-family: "Kaisei Decol", serif;
    font-size: 45px;
    margin: auto;
    margin-bottom: 40px;
    font-weight: bold;
    grid-column: 1 / -1;
    color:  black;
} 
.grid-container {
    display: grid;
    width: 100%; 
    margin: 0 auto;
    gap: 30px;
    padding: 80px 0 80px 0;
    grid-template-columns: repeat(3, 3fr);
    background-color: #c3b2a0;   
}
.card h5 {
    text-align: center;
    font-size: 18px;
    font-family: "Cambay", sans-serif;
    margin-top: 20px;
}
.card-link {
    text-decoration: none;
    color: black;
}
.card-link:hover {
    text-decoration: underline;
    color: rgb(181, 105, 51);
} 
.card {
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    width: 70%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card:hover img {
  transform: scale(1.1);
}

/* card libri */
.card-libri h5 {
    text-align: center;
    font-size: 18px;
    font-family: "Cambay", sans-serif;
    margin-top: 20px;
}
.card-libri-link {
    text-decoration: none;
    color: black;
}
.card-libri-link:hover {
    text-decoration: underline;
    color: rgb(181, 105, 51);
} 
.card-libri {
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
}
.card-libri img {
    width: 40%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card-libri:hover img {
  transform: scale(1.1);
}

/* freccia */
.grid-testo {
    text-align: center;
}
.testo-link {
    font-family: "Cambay", sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    width: 130px;
    height: 220px;
    background-color: #e7dfda;
    color: black;
    position: relative;
}
.testo-link {
    text-decoration: none;
    color: black;
}
.testo-link:hover {
    text-decoration: underline;
    color: rgb(181, 105, 51);
} 
.testo-link {
    text-align: left;
    transition: transform 0.3s ease;
}
.grid-testo:hover {
    transform: scale(1.1);
}
.testo-link img {
    width: 40%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.testo-link:hover img {
  transform: scale(1.1);
}

/* linea card */
.primalinea {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    grid-column: 1 / -1;
}
.secondalinea {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    grid-column: 1 / -1;
}

/* footer */
.logofooter {
    max-width: 100px;
    align-items: auto;
    margin: auto;    
    margin-top: 60px;
    display: block;
}
footer {
    text-align: center;
    padding: 10px;
}
footer p {
    font-family: "Cambay", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 40px 0;
    color: black;
    text-decoration: none;
    line-height: 1.1;

}

@media screen and (max-width: 768px) {
    .logo {max-width: 100px;padding: 10px 0 0 0;}
    .header {height: auto; display: block; text-align: center;}
    .menu {display: block;padding: 0px;}
    .menu a {display: block;} 
    .testo-immagine h1 {width: 50%;font-size: 36px;}
    .testo-immagine img {width: 50%;}
    .testocentrale {font-size: 12px;} .testocentrale p {font-size: 16px;}
    .sezione-immagine img {display: none;} .container-racconto {display: block; padding: 30px;} .container-trama {display: block;padding: 30px;}
    .colonna1 h3{text-align: center; display: block; font-size: 30px; text-align: left;} .colonna2 {margin-top: 0;display: block;}
    .grid-container {display: block;grid-template-columns: repeat(2, 1fr);} .grid-container h4 {text-align: center; font-size: 40px;} .card img{max-width: 50%;}
    .testo-immagine-autore h1 {font-size: 50px; padding: 30px 0 20px 30px;} .testo-immagine-autore img {max-width: 35%; padding: 65px 30px 0 0;} .card-libri img {width: 100%;max-width: 120px;} 
    .titolo-libro img {max-width: 20%;padding: 20px 40px 10px 0;} .titolo-libro h1{font-size: 40px; padding: 20px 0 10px 10px;}
    .testo-copertina h1 {width: 60%;font-size: 38px; animation: none; padding: 20px;}
    .testocentrale-recensione {display: block; font-size: 12px;text-align: left;} .testocentrale-recensione p {display: block; font-size: 16px;padding: 0 80px 0 0; text-align: left;}
    .sezione-immagine-autori {align-items: left;max-width: 40%;height: auto;padding: 10px 0 0 0;}
}
